#info {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #info .formul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.9rem; }
    #info .formul #nombre, #info .formul #apellido, #info .formul #area {
      background-color: #ffffff;
      color: black;
      padding: 0.7rem 10rem 0.7rem 0.2rem;
      border-radius: 5px; }
    #info .formul .radio {
      display: flex;
      gap: 0.5rem; }
    #info .formul .buttons {
      display: flex;
      justify-content: space-around; }
      #info .formul .buttons #submit, #info .formul .buttons #reset {
        border-style: none;
        text-decoration: overline 2px;
        font-weight: bolder;
        font-size: 1.5rem;
        background-color: #ffffff;
        margin: 0.5rem;
        padding: 0.5rem 2rem 0.5rem 2rem;
        transition: 0.2s; }
        #info .formul .buttons #submit:hover, #info .formul .buttons #reset:hover {
          transform: scale(1.1); }
  #info .p-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #201c1c;
    margin: 0 20rem 0rem 20rem;
    padding: 1rem 0 1rem 0;
    text-align: justify; }
  #info .lista-info {
    display: flex;
    flex-direction: column;
    margin-left: 5rem; }
    #info .lista-info li {
      font-size: large; }

@media screen and (max-width: 800px) {
  #info .p-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #201c1c;
    margin: 0 9rem 0rem 9rem;
    padding: 1rem 0 1rem 0;
    text-align: justify; }
  #info .lista-info {
    display: flex;
    flex-direction: column;
    margin: 0rem 0rem 1rem 5rem; }
    #info .lista-info li {
      font-size: large; } }

@media screen and (max-width: 500px) {
  #info .lista-info {
    display: flex;
    flex-direction: column;
    margin: 0rem 0rem 2rem 2.5rem; }
    #info .lista-info li {
      font-size: large; }
  #info .p-main {
    display: flex;
    align-items: center;
    color: #201c1c;
    margin: 0 2rem 0rem 2rem;
    padding: 1rem 0 1rem 0;
    text-align: justify; }
  #info .p-main-tres {
    margin: 0 0 1rem 0;
    text-decoration: underline; } }

header .img-logo {
  width: 6.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 5px black);
  width: 25rem;
  border-radius: 15px;
  margin-right: 4rem; }

section#logos {
  grid-area: logos; }
  section#logos .logos__main {
    display: flex;
    padding: 5rem;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background: #c68a8a;
    background: linear-gradient(0deg, #c68a8a 0%, white 100%); }
    section#logos .logos__main .banner, section#logos .logos__main .gilera, section#logos .logos__main .zanella {
      width: 6.5rem;
      padding: 0.5rem;
      border-radius: 5px;
      filter: drop-shadow(2px 2px 5px black); }
    section#logos .logos__main .gilera, section#logos .logos__main .zanella {
      width: 12rem; }

@media screen and (max-width: 800px) {
  section#logos {
    display: none; }
  .wp-icon {
    display: none; } }

@media screen and (max-width: 500px) {
  header .img-logo {
    display: none; } }

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 1rem; }

body {
  background-color: white; }

h1 {
  font-size: 2rem;
  font-style: italic;
  font-weight: 700; }

h2 {
  font-size: 1.5rem; }

p {
  font-size: larger; }

.contenedor-principal {
  display: grid;
  grid-template-areas: "header header header header" "titulo titulo titulo titulo" "main main main main" "logos logos logos logos" "footer1 footer1 footer2 footer2";
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  height: 100vh; }
  .contenedor-principal .wp-icon {
    position: fixed;
    bottom: 1.5rem;
    right: 2.5rem;
    transition: 0.5s; }
    .contenedor-principal .wp-icon:hover {
      transform: scale(1.08); }

header {
  grid-area: header;
  background: white;
  background: linear-gradient(0deg, white 0%, #830000 97%);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header nav ul {
    display: flex;
    list-style-type: none;
    margin: 1rem;
    padding: 0.1rem; }
    header nav ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #dbd6d6;
      box-shadow: 5px 2px 10px #3e0606;
      border-radius: 10px;
      margin: 0.6rem;
      margin-left: 2rem;
      padding: 1.2rem;
      height: 0.6rem;
      transition: 0.2s;
      text-decoration: none; }
      header nav ul li:hover {
        transform: scale(1.1); }
      header nav ul li a {
        text-decoration: none;
        color: black; }

/* titulo */
section#titulo {
  grid-area: titulo; }
  section#titulo .tit-main {
    margin: 1.9rem;
    padding: 0.6rem;
    width: 25rem;
    text-align: center;
    display: inline-block;
    border: solid;
    box-shadow: 3px 2px 15px black; }
  section#titulo .subtit-main {
    color: #531e1e;
    margin: 0 15rem 1rem 15rem;
    text-align: justify; }
  section#titulo .p-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20rem 0rem 20rem;
    padding: 1rem 0 1rem 0;
    text-align: justify; }
    section#titulo .p-main .p-main-dos {
      margin: 4rem;
      font-size: 2rem; }

/* main */
main {
  grid-area: main;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  main .img-main {
    display: flex;
    justify-items: center;
    width: 50rem;
    margin: 0 9.95rem 1.1rem 12.5rem;
    box-shadow: 10px 2px 20px black;
    transition: 2s; }
    main .img-main:hover {
      transform: scale(1.01); }
  main .img-moto {
    width: 25rem; }
  main .card .card-body .card-sub {
    color: #531e1e;
    text-decoration: overline; }

/* logos */
#footer1 {
  background: #830000;
  background: linear-gradient(0deg, #830000 0%, #c68a8a 100%);
  grid-area: footer1;
  display: flex;
  align-items: center; }
  #footer1 .footer-uno {
    display: flex;
    align-items: center;
    flex-direction: column; }
    #footer1 .footer-uno .footer-uno__ml {
      width: 5rem; }
    #footer1 .footer-uno .footer-uno__ig {
      width: 4rem; }

#footer2 {
  background: #830000;
  background: linear-gradient(0deg, #830000 0%, #c68a8a 100%);
  height: auto;
  grid-area: footer2;
  display: flex;
  justify-content: center; }
  #footer2 .footer-dos {
    display: flex; }

@media screen and (max-width: 800px) {
  /*layout*/
  .contenedor-principal {
    display: grid;
    grid-template-areas: "header header header header" "titulo titulo titulo titulo" "main main main main" "logos logos logos logos" "footer1 footer1 footer1 footer1";
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    height: 100vh; }
  /* header */
  header {
    display: flex;
    align-items: center;
    justify-content: center; }
    header .img-logo {
      display: none; }
    header nav ul {
      display: flex;
      align-items: center;
      margin: 0.5rem;
      padding: 0.1rem; }
      header nav ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #dbd6d6;
        box-shadow: 5px 2px 10px #3e0606;
        border-radius: 10px;
        margin: 1rem;
        padding: 1.2rem;
        height: 0.6rem; }
  /* titulo */
  section#titulo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0rem; }
    section#titulo .tit-main {
      margin: 1.9rem;
      padding: 0.6rem;
      width: 25rem;
      text-align: center;
      display: inline-block;
      border: solid;
      box-shadow: 2 2px 5px black; }
    section#titulo .subtit-main {
      display: inline-block;
      color: #483434;
      margin: 0 3rem 1rem 3rem;
      text-align: justify;
      display: inline-block; }
    section#titulo .p-main {
      display: flex;
      color: #201c1c;
      margin: 0 3rem 0rem 3rem;
      padding: 1rem 0 1rem 0;
      text-align: justify; }
      section#titulo .p-main .p-main-dos {
        display: flex;
        justify-content: center;
        margin: 4rem;
        text-shadow: 1px 1px 15px #5c5c5c;
        font-size: 1.8rem;
        font-style: italic; }
  main {
    display: flex;
    margin: 0rem; }
    main .img-main {
      width: 25rem;
      display: inline-block;
      margin: 1rem 0rem 1rem 0rem;
      box-shadow: 10px 2px 20px black; }
  #footer1 {
    display: flex;
    flex-direction: column;
    bottom: 0; }
    #footer1 .footer-uno {
      display: flex;
      flex-direction: row; }
    #footer1 .pfooter {
      text-align: center; }
    #footer1 .footer-uno__ml {
      width: 7rem; }
    #footer1 .footer-uno__ig {
      width: 5rem; }
  #footer2 .footer-dos .dir-maps {
    display: none; } }

@media screen and (max-width: 500px) {
  .contenedor-principal {
    display: grid;
    grid-template-areas: "header" "titulo" "main" "footer1";
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    /* header */ }
  header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../img/frente.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    header nav ul {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      header nav ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #dbd6d6;
        box-shadow: 5px 2px 10px #000000;
        border-radius: 10px;
        margin: 1rem;
        padding: 1.2rem 5rem 1.2rem 5rem;
        height: 0.6rem; }
  /* titulo */
  section#titulo {
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    margin-top: 0rem; }
    section#titulo .tit-main {
      padding: 0.5rem;
      width: 25rem;
      text-align: center;
      border: solid;
      box-shadow: 3px 2px 15px black; }
    section#titulo .subtit-main {
      display: inline-block;
      color: #483434;
      margin: 0rem 2rem 0 2rem;
      text-align: justify; }
    section#titulo .p-main {
      display: inline-block;
      margin: 0rem 2rem 2rem 2rem;
      text-align: justify; }
  /* main */
  main {
    grid-area: main;
    display: flex;
    margin: 0rem; }
    main .img-main {
      display: none; }
  /* footer */
  #footer1 {
    grid-area: footer1;
    display: flex;
    flex-direction: column; }
    #footer1 .footer-uno {
      display: flex;
      justify-content: space-between; }
      #footer1 .footer-uno .footer-uno__ml {
        width: 7rem; }
      #footer1 .footer-uno .footer-uno__ig {
        width: 4.5rem; }
    #footer1 .pfooter {
      display: none; } }
