@import "utilidades/mixin";
@import "estilos/formulario";
@import "estilos/logos";

/* reset */ 

*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    color: black;
    font-size: 1rem;
}

body {
    background-color: rgb(255, 255, 255);
}

/* estilos generales */

h1 {
    font-size: 2rem;
    font-style: italic;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: larger;
}

/* layout */

.contenedor-principal {
    display: grid;
    grid-template-areas: 
        "header header header header"
        "titulo titulo titulo titulo"
        "main main main main"
        "logos logos logos logos"
        "footer1 footer1 footer2 footer2";
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    height: 100vh;
    .wp-icon {
        position: fixed;
        bottom: 1.5rem;
        right: 2.5rem;
        transition: 0.5s;
        &:hover{
            transform: scale(1.08);
        }
    }
}

/* header */

header {
    grid-area: header;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(131,0,0,1) 97%);
    @include flex;
    justify-content: space-between;
    
    nav {
        ul {
            display: flex;
            list-style-type: none;
            margin: 1rem;
            padding: 0.1rem;
            li {
                @include flex;
                justify-content: center;
                background-color: #dbd6d6;
                box-shadow: 5px 2px 10px #3e0606;
                border-radius: 10px;
                margin: 0.6rem;
                margin-left: 2rem;
                padding: 1.2rem;
                height: 0.6rem;
                transition: 0.2s;
                text-decoration: none;
                &:hover{
                    transform: scale(1.1);
                }
                a{
                    text-decoration: none;
                    color: black; 
                }
            }
        }
    }
}

/* titulo */

section#titulo {
    grid-area: titulo;
    .tit-main {
        margin: 1.9rem;
        padding: 0.6rem;
        width: 25rem;
        text-align: center;
        display: inline-block;
        border: solid;
        box-shadow: 3px 2px 15px black;
    }
    .subtit-main {
        color: #483434;
        margin: 0 15rem 1rem 15rem;
        text-align: justify;
    }
    .p-main {
        @include flex;
        flex-direction: column;
        color: #201c1c;
        margin: 0 20rem 0rem 20rem;
        padding: 1rem 0 1rem 0;
        text-align: justify;
        .p-main-dos {
            margin: 4rem;
            font-size: 2rem;
        }
    }
}

/* main */

main {
    grid-area: main;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .img-main {
        display: flex;
        justify-items: center;
        width: 50rem;
        margin: 0 9.95rem 1.1rem 12.5rem;
        box-shadow: 10px 2px 20px black;
        transition: 2s;
        &:hover{
            transform: scale(1.01);
        }
    }
    .img-moto {
        width: 25rem;
    }
}

/* logos */


#footer1{
    background: rgb(131,0,0);
    background: linear-gradient(0deg, rgba(131,0,0,1) 0%, rgba(198,138,138,1) 100%);
    grid-area: footer1;
    @include flex;
    .footer-uno {
        @include flex;
        flex-direction: column;
        .footer-uno__ml{
            width: 5rem;
        }
        .footer-uno__ig {
            width: 4rem;
        }
    }
}

#footer2{
    background: rgb(131,0,0);
    background: linear-gradient(0deg, rgba(131,0,0,1) 0%, rgba(198,138,138,1) 100%);
    height: auto;
    grid-area: footer2;
    display: flex;
    justify-content: center;
    .footer-dos {
        display: flex;
    }
}

@media screen and (max-width: 800px){
    /*layout*/
    .contenedor-principal {
        display: grid;
        grid-template-areas: 
        "header header header header"
        "titulo titulo titulo titulo"
        "main main main main"
        "logos logos logos logos"
        "footer1 footer1 footer1 footer1";
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(5, auto);
        height: 100vh;
    }

    /* header */

    header {
        @include flex;
        justify-content: center;
        .img-logo {
            display: none;
        }
        nav{
            ul{
                @include flex;
                margin: 0.5rem;
                padding: 0.1rem;
                li{
                    @include flex;
                    justify-content: center;
                    background-color: #dbd6d6;
                    box-shadow: 5px 2px 10px #3e0606;
                    border-radius: 10px;
                    margin: 1rem;
                    padding: 1.2rem;
                    height: 0.6rem;
                } 
            }
        }
    }
    /* titulo */

    section#titulo {
        display: flex;
        flex-direction: column;
        margin-top: 0rem;
        .tit-main {
            margin: 1.9rem;
            padding: 0.6rem;
            width: 25rem;
            text-align: center;
            display: inline-block;
            border: solid;
            box-shadow: 3px 2px 15px black;
        }
        .subtit-main {
            display: inline-block;
            color: #483434;
            margin: 0 5rem 1rem 5rem;
            text-align: justify;
            display: inline-block;
        }
        .p-main {
            display: flex;
            color: #201c1c;
            margin: 0 10rem 0rem 10rem;
            padding: 1rem 0 1rem 0;
            text-align: justify;
            .p-main-dos {
                display: flex;
                justify-content: center;
                margin: 4rem;
                text-shadow: 1px 1px 15px rgb(92, 92, 92);
                font-size: 1.8rem;
                font-style: italic;
            }
        }
    }
    main {
        display: flex;
        margin: 0rem;
        .img-main {
            width: 25rem;
            display: inline-block;
            margin: 1rem 0rem 1rem 0rem;
            box-shadow: 10px 2px 20px black;
        }
    }
    #footer1 {
        display: flex;
        flex-direction: column;
        bottom: 0;
        .footer-uno {
            display: flex;
            flex-direction: row;
        }
        .pfooter {
            text-align: center;
        }
    
        .footer-uno__ml{
            width: 7rem;
        }
        
        .footer-uno__ig {
            width: 5rem;
        }
    }
    #footer2{
        .footer-dos{
            .dir-maps {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .contenedor-principal {
        display: grid;
        grid-template-areas: 
        "header"
        "titulo"
        "main"
        "footer1";
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);

        /* header */ 
    }

    header {
        grid-area: header;
        @include flex;
        justify-content: space-around;
        background-image: url(../img/frente.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        nav{
            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                li{
                    @include flex;
                    justify-content: center;
                    background-color: #dbd6d6;
                    box-shadow: 5px 2px 10px #000000;
                    border-radius: 10px;
                    margin: 1rem;
                    padding: 1.2rem 5rem 1.2rem 5rem;
                    height: 0.6rem;
                }
            }
        }
    }

    /* titulo */

    section#titulo {
        grid-area: titulo;
        display: flex;
        flex-direction: column;
        margin-top: 0rem;
        .tit-main {
            padding: 0.5rem;
            width: 25rem;
            text-align: center;
            border: solid;
            box-shadow: 3px 2px 15px black;
        }
        .subtit-main {
            display: inline-block;
            color: #483434;
            margin: 0rem 2rem 0 2rem;
            text-align: justify;
        }
        .p-main {
            display: inline-block;
            margin: 0rem 2rem 2rem 2rem;
            text-align: justify;
        }
    }

    /* main */

    main {
        grid-area: main;
        display: flex;
        margin: 0rem;
        .img-main {
            display: none;
        }
    }
}