#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    .formul{
        @include flex;
        flex-direction: column;
        gap: 1.9rem;
        #nombre, #apellido, #area {
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            padding: 0.7rem 10rem 0.7rem 0.2rem;
            border-radius: 5px;
        }
        .radio {
            display: flex;
            gap: 0.5rem;
        }
        .buttons {
            display: flex;
            justify-content: space-around;
            #submit, #reset {
                @include tit-botones;
                font-size: 1.5rem;
                background-color: #ffffff;
                margin: 0.5rem;
                padding: 0.5rem 2rem 0.5rem 2rem;
                transition: 0.2s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    .p-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #201c1c;
        margin: 0 20rem 0rem 20rem;
        padding: 1rem 0 1rem 0;
        text-align: justify;
    }
    .lista-info {
        display: flex;
        flex-direction: column;
        margin-left: 5rem;
        li {
            font-size: large;
        }
    }
}

@media screen and (max-width: 800px){
    #info{
        .p-main {
            @include flex;
            flex-direction: column;
            color: #201c1c;
            margin: 0 9rem 0rem 9rem;
            padding: 1rem 0 1rem 0;
            text-align: justify;
        }
        .lista-info {
            display: flex;
            flex-direction: column;
            margin: 0rem 0rem 1rem 5rem;
            li {
                font-size: large;
            }
        }
    }
}

@media screen and (max-width: 500px){
    #info{
        .lista-info {
            display: flex;
            flex-direction: column;
            margin: 0rem 0rem 2rem 2.5rem;
            li {
                font-size: large;
            }
        }
        .p-main {
            @include flex;
            color: #201c1c;
            margin: 0 2rem 0rem 2rem;
            padding: 1rem 0 1rem 0;
            text-align: justify;
        }

        .p-main-tres{
            margin: 0 0 1rem 0;
            text-decoration: underline;
        }
    }
}
