header{
    .img-logo {
        @include diseñoimagen;
        width: 25rem;
        border-radius: 15px;
        margin-right: 4rem;
    }
}

section#logos {
    grid-area: logos;
    .logos__main {
        display: flex;
        padding: 5rem;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        background: rgb(198,138,138);
        background: linear-gradient(0deg, rgba(198,138,138,1) 0%, rgba(255,255,255,1) 100%);
        .banner {
            @include diseñoimagen;
        }
        .gilera,.zanella{
            @extend .banner;
            width: 12rem;
        }

    }
}


@media screen and (max-width: 800px){
    section#logos {
        display: none;
    }
    .wp-icon {
        display: none;
    }   
}

@media screen and (max-width: 500px){
    header{
        .img-logo {
            display: none;
        }
    }
}


