@mixin flex {
    display: flex;
    align-items: center;
}

@mixin tit-botones {
    border-style: none;
    text-decoration: overline 2px;
    font-weight: bolder;
}

@mixin diseñoimagen {
    width: 6.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
}